<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acf7cf">  <td>20/10/27 19:32:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;placeOrder.setup()[pri:0, instance:PlaceOrder.placeOrder@5c909414]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@884452399</td>   <td></td> </tr>
<tr bgcolor="acf7cf">  <td>20/10/27 19:33:00</td>   <td>11269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="placeOrder.test_Successfully_Place_Order()[pri:0, instance:PlaceOrder.placeOrder@5c909414]">test_Successfully_Place_Order</td> 
  <td>main@884452399</td>   <td></td> </tr>
<tr bgcolor="acf7cf">  <td>20/10/27 19:33:11</td>   <td>22634</td> <td>&nbsp;</td><td title="&lt;&lt;placeOrder.teardown()[pri:0, instance:PlaceOrder.placeOrder@5c909414]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@884452399</td>   <td></td> </tr>
</table>
